<a href="https://colab.research.google.com/github/sahmuramaula/DataGojek/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Library dan Dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/content/drive/MyDrive/Sains/food_delivery_datasets.csv')

In [3]:
df #menlihat data keseluruhan

        order_id  voucher_amount  ...     status  random_id
0     FOOD-10455               0  ...  Completed   0.511149
1     FOOD-10985               0  ...  Completed   0.832936
2     FOOD-10911               0  ...  Completed   0.828026
3     FOOD-10932               0  ...  Completed   0.239377
4     FOOD-10961               0  ...  Completed   0.995587
...          ...             ...  ...        ...        ...
1071  FOOD-10921               0  ...  Completed   0.248328
1072  FOOD-10265            5000  ...  Completed   0.268251
1073  FOOD-10534               0  ...  Completed   0.132528
1074  FOOD-10158               0  ...  Completed   0.167946
1075  FOOD-10770               0  ...  Completed   0.358051

[1076 rows x 11 columns]

In [23]:
df[df['food_price'] == df['food_price'].max()]

       order_id  voucher_amount  ...     status  random_id
128  FOOD-10212               0  ...  Completed   0.469235

[1 rows x 11 columns]

In [22]:
df[df['food_price'] == df['food_price'].min()]

       order_id  voucher_amount  ...     status  random_id
202  FOOD-10654               0  ...  Completed   0.716985

[1 rows x 11 columns]